<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sean's list</title>
</head>

<body>
    Sean's list of favorite ways to cook potatoes!<br/>
    
    <ol style="margin-left: 10px">
    1. Roasted potatoes.<br/>
    2. Mashed potatoes.<br/>
    3. Twice Baked potatoes.<br/>
    4. Baked potatoes.<br/>
    5. French fries.<br/>
    6. Potatoe chips.<br/>
    7. Potatoe salad.<br/>
    8. Homefries.<br/>
    9. Latkes.<br/>
    10. Hashbrowns.<br/>
    </ol>
    <p>
    I chose to make a list of my favorite ways to cook and eat potatoes. I chose this because people like potatoes.<br/> It seems really straight forward I mean who doesn't like potatoes. look at that list they're such a versatile vegtable.<br/> These are the reasons I chose to make a list about potatoes.
    </p>
    <a href= "login.html">Login Page!</a><br/>    
    <a href= "addEntry.html">Add Entry Page!</a>

</body>
</html>
